<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.summary }}</p>
    </div>

    <ul class="sidebar-nav">
      {% for nav_entry in (0..site.pages.size) %} {% for node in site.pages %} {% if node.nav_order == nav_entry %}
        <li class="sidebar-nav-item">
          <a href="{{ node.url }}" class="{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
          {% for subnode in site.pages sort:name %}{% if subnode.sub_nav == node.nav_order %}
              <div class="subnav {% if page.url == subnode.url %} active{% endif %}"><a href="{{ subnode.url }}">{{ subnode.subtitle }}</a></div>
          {% endif %} {% endfor %}
        </li>
      {% endif %} {% endfor %} {% endfor %}

      <li>&nbsp;</li>
      <li class="sidebar-nav-item">
        <a href="/news.html">News</a> |
        <a href="https://github.com/{{ page.github }}">Github</a>
      </li>
    </ul>

  </div>
</div>
