<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.summary }}</p>
    </div>

    <ul class="sidebar-nav">
      {% for nav_entry in (0..site.pages.size) %} {% for node in site.pages %} {% if node.nav_order == nav_entry %}
        <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
          <a href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %} {% endfor %} {% endfor %}

      <li>&nbsp;</li>
      <li class="sidebar-nav-item"><a href="https://github.com/{{ page.github }}">Github &mdash; {{page.github}}</a></li>
    </ul>

    <p>
      &copy; {{ site.time | date: '%Y' }}. <a href="http://collectiveidea.com">Collective Idea</a><br/>
      All rights reserved.
    </p>
    <p>
      Using the <a href="http://hyde.getpoole.com/">Hyde Theme</a>.
    </p>
  </div>
</div>
